<!doctype html>
<html lang="fr">
<link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
<head>
    <title>Hello from Flask</title>
</head>
<body>
    <h1>PolluPrev</h1>
<section>
    <p>Ceci est une page html du site PolluPrev qui vous indique les niveaux de concentration de polluants
     (Ozone O3, dioxyde de souffre SO2, dioxyde d'azote NO2 et les particules fines PM2.5) relevés ces
     derniers jours en france. </p>

    <p>Une feature importante du site sera de prévoir le nombre d'entrée dans un hopital en fonction de la
    concentration des polluants relevés a la station la plus proche.</p>
</section>
<h3>Info Générale</h3>
<a href="polluants">Info Polluant</a></br>
<a href="meteo">Info Meteo</a></br>
<a href="hopital">Info Hopital</a></br>

</br>




</body>
</html>
